* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 0;
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid gray;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
}
.col1 {
    flex: 0 0 calc(100% / 6);
    width: calc(100% / 6);
}
.col2 {
    flex: 0 0 calc(100% / 6 * 2);
    width: calc(100% / 6 * 2);
}
.col3 {
    flex: 0 0 calc(100% / 6 * 3);
    width: calc(100% / 6 * 3);
}
.col4 {
    flex: 0 0 calc(100% / 6 * 4);
    width: calc(100% / 6 * 4);
}
.col5 {
    flex: 0 0 calc(100% / 6 * 5);
    width: calc(100% / 6 * 5);
}
.col6 {
    flex: 0 0 100%;
    width: 100%;
}

.btn {
    border: none;
    background: none;
    padding: 10px 20px;
    border: 1px solid lightgray;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.mb-sm {
    margin-bottom: 20px;
}


input {
    min-width: 400px;
    padding: 10px;
}
.flex {
    display: flex;
}
.fl-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}